<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="{{user.image}}" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
      <ion-card-title>{{ user.firstname user.lastname }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your are logged in, you can <a color="secondary" [routerDirection]="'root'"
          [routerLink]="'/addList'">Add a New List</a> or manage an existing one !</p>
    </ion-card-content>
  </ion-card>
</ion-content>
